In [7]:
d1 = {'이름' : '홍길동', '나이' : 26}
d2 = {'이름' : '홍길동', '나이' : 26}
d1 == d2

True

In [8]:
'이름' in d1

True

In [9]:
'성별' in d1

False

In [1]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
person.items()

dict_items([('이름', '홍길동'), ('나이', 26), ('몸무게', 82)])

In [2]:
person.keys()

dict_keys(['이름', '나이', '몸무게'])

In [3]:
person.values()

dict_values(['홍길동', 26, 82])

In [4]:
person['이름']

'홍길동'

In [5]:
person.popitem()

('몸무게', 82)

In [6]:
person

{'이름': '홍길동', '나이': 26}

In [8]:
person.pop('이름')

'홍길동'

In [9]:
person

{'나이': 26}

In [10]:
person.clear()

In [11]:
fruits_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'orange':7000}
fruits_dic.keys()

dict_keys(['apple', 'melon', 'banana', 'orange'])

In [12]:
fruits_dic.values()

dict_values([6000, 3000, 5000, 7000])

In [13]:
fruits_dic.pop('apple')
fruits_dic

{'melon': 3000, 'banana': 5000, 'orange': 7000}

In [15]:
fruits_dic.clear()
fruits_dic

{}

In [20]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
for key in person:
    print(f'{key} : {person[key]}')

이름 : 홍길동
나이 : 26
몸무게 : 82

In [31]:
fruits_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'orange':7000}
list(fruits_dic.keys())

['apple', 'melon', 'banana', 'orange']

In [32]:
list(fruits_dic.values())

[6000, 3000, 5000, 7000]

In [33]:
len(fruits_dic)

4

In [34]:
if 'apple' in fruits_dic:
    print('apple is in fruits_dic')
else:
    print('apple is not in fruits_dic')

apple is in fruits_dic

In [36]:
def chk_key(key, dic):
    if key in dic:
        print(f"{key} is in {dic}")
    else:
        print(f'{key} is not in {dic}')

chk_key('apple', fruits_dic)

apple is in {'apple': 6000, 'melon': 3000, 'banana': 5000, 'orange': 7000}

In [38]:
t = (100,)
t

(100,)

In [39]:
t = (1, 2, 3, 4)
t

(1, 2, 3, 4)

In [40]:
t[0]

1

In [41]:
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [43]:
a = 100
b = 200
print('swap 이전 :',a, b)
temp = a
a = b
b = temp
print('swap 이후 :', a, b)

swap 이전 : 100 200
swap 이후 : 200 100

In [44]:
a = 100
b = 200
print('swap 이전 :',a, b)
a, b = b, a
print('swap 이후 :', a, b)

swap 이전 : 100 200
swap 이후 : 200 100

In [46]:
the_day = (1919, 3, 1)
year = the_day[0]
month = the_day[1]
day = the_day[2]
print(f'{year}년 {month}월 {day}일은 삼일절입니다.')

1919년 3월 1일은 삼일절입니다.

In [47]:
lst1 = [10, 20, 30]
tuple1 = tuple(lst1)
a, b, c = tuple1[0], tuple1[1], tuple1[2]
print('a =', a)
print('b =', b)
print('c =', c)

a = 10
b = 20
c = 30

In [48]:
t0 = (10, 20, 30)
t1 = t0 + t0
t1

(10, 20, 30, 10, 20, 30)

In [49]:
t2 = t0 * 2
t2

(10, 20, 30, 10, 20, 30)

In [50]:
t3 = t0 + 40

TypeError: can only concatenate tuple (not "int") to tuple

In [51]:
t4 = t0 + (40,)
t4

(10, 20, 30, 40)

In [52]:
t = (10, 20, 30, 20, 20, 10, 50)
t.count(10)

2

In [53]:
t.count(20)

3

In [54]:
t.index(30)

2

In [55]:
t.index(20)

1

In [56]:
t_fruits = ('apple', 'orange', 'water melon')
print(t_fruits)
f_list = list(t_fruits)
f_list[1] = 'kiwi'
t_fruits = tuple(f_list)
print(t_fruits)

('apple', 'orange', 'water melon')
('apple', 'kiwi', 'water melon')

In [57]:
person = ('홍길동', 2019001, 179)
person[1] = 2019003

TypeError: 'tuple' object does not support item assignment

In [62]:
lst_person = list(person)
lst_person[1] = 2020003
person = tuple(lst_person)
person

('홍길동', 2020003, 179)

In [63]:
def area_and_circum(radius):
    area = 3.14 * radius ** 2
    circum = 2 * 3.14 * radius
    return area, circum

r = 4
a, c, = area_and_circum(r)
print(f'반지름이 {r}인 원의 면적과 둘레 : {a}, {c}')

반지름이 4인 원의 면적과 둘레 : 50.24, 25.12

In [64]:
def square(x, y):
    return x ** 2, y ** 2
x = 10
y = 20
x_sq, y_sq = square(x, y)
print(x_sq, y_sq)

100 400

In [65]:
(10, 20, 30) + (40, 50, 60)

(10, 20, 30, 40, 50, 60)

In [66]:
print('Hello ' * 3)

Hello Hello Hello

In [67]:
print(('Hello ',) * 3)

('Hello ', 'Hello ', 'Hello ')

In [68]:
set1 = {1, 2, 3, 4}
set1

{1, 2, 3, 4}

In [70]:
n_tuple = (1, 2, 3, 4)
set2 = set(n_tuple)
set2

{1, 2, 3, 4}

In [71]:
set0 = set()

In [72]:
h_str = 'hello'
h_set = set(h_str)
h_set

{'e', 'h', 'l', 'o'}

In [73]:
lst = ['apple', 'mango', 'banana']
s1 = set(lst)
s1

{'apple', 'banana', 'mango'}

In [74]:
greet = 'Good afternoon'
s2 = set(greet)
s2

{' ', 'G', 'a', 'd', 'e', 'f', 'n', 'o', 'r', 't'}