In [1]:
import datetime

def get_birthday():
    date = datetime.datetime.now()
    y = date.year
    m = date.month
    if m < 10:
        m = '0' + str(m)
    d = date.day
    if d < 10:
        d = '0' + str(d)

    return str(y)[-2:] + str(m) + str(d)
print(get_birthday())

220513

In [7]:
date = datetime.datetime.now()
y, m, d = date.year, date.month, date.day
y = str(y)[-2:]
print(f"{y}{m:02d}{d:02d}")

220513

In [11]:
import math

def area_and_circumference(r):
    area = math.pi * r * r
    circum = 2 * math.pi * r
    return area, circum

while True:
    radius = float(input("반지름을 입력하세요 :"))
    if radius < 0:
        print("프로그램을 종료합니다.")
        break
    area, circum = area_and_circumference(radius)
    print(f"넓이 : {area:.4f}, 둘레 : {circum:.4f}")

넓이 : 314.1593, 둘레 : 62.8319
넓이 : 1256.6371, 둘레 : 125.6637
프로그램을 종료합니다.

In [14]:
string = "Park(Java city), Kim(C city), Kang(Bython city), \
Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), \
Ryu(C++ city)"
src = 'Bython'
target = 'Python'
count = string.count(src)
new_string = string.replace(src, target)
print(new_string)
print(f"Bython 문자열을 모두 {count}번 수정했습니다.")

Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
Bython 문자열을 모두 3번 수정했습니다.

In [28]:
list1 = list((1, 2, 3))
list1

[1, 2, 3]

In [29]:
list2 = list(range(10))
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list3 = list('ABCDE')
list3

['A', 'B', 'C', 'D', 'E']

In [31]:
even_list = [num for num in range(2, 11, 2)]
even_list

[2, 4, 6, 8, 10]

In [34]:
even_list = list(range(2, 11, 2))
even_list

[2, 4, 6, 8, 10]

In [32]:
nations = ['Korea', 'China', 'India', 'Nepal']
print(nations)

['Korea', 'China', 'India', 'Nepal']

In [33]:
string = list('XYZ')
string

['X', 'Y', 'Z']

In [35]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(nations[0])

Korea

In [36]:
nations[-1]

'Malaysia'

In [37]:
nations[len(nations)-1]

'Malaysia'

In [38]:
prime = []
for num in range(2, 11):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime.append(num)
prime

[2, 3, 5, 7]

In [39]:
prime[0]

2

In [40]:
prime[len(prime)-1]

7

In [41]:
prime[-1]

7