In [1]:
list1 = [20, 10, 30, 40, 50]
min(list1)

10

In [2]:
max(list1)

50

In [3]:
sum(list1)

150

In [4]:
fruits = ['banana', 'apple', 'orange', 'kiwi']
min(fruits)

'apple'

In [5]:
max(fruits)

'orange'

In [6]:
k_fruits = ['사과', '오렌지', '포도', '바나나']
min(k_fruits)

'바나나'

In [7]:
max(k_fruits)

'포도'

In [9]:
prime = []
for num in range(2, 11):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime.append(num)

print("1에서 10까지의 소수 :", prime)
print("최솟값 :", min(prime))
print("최댓값 :", max(prime))
print("합계 :", sum(prime))
print("평균 :", sum(prime) / len(prime))

1에서 10까지의 소수 : [2, 3, 5, 7]
최솟값 : 2
최댓값 : 7
합계 : 17
평균 : 4.25

In [10]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("국가 목록 :", nations)
print('사전에 가장 먼저 나오는 나라 :', min(nations))
print('사전에 가장 뒤에 나오는 나라 :', max(nations))

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라 : China
사전에 가장 뒤에 나오는 나라 : Russia

In [15]:
list1 = [20, 10, 40, 50, 30]
list1.sort()
list1

[10, 20, 30, 40, 50]

In [16]:
list1.sort(reverse=True)
list1

[50, 40, 30, 20, 10]

In [17]:
b_list = ['a', 'b', 'c', 'a', 'b', 'a']
b_list.count('a')

3

In [18]:
b_list.count('b')

2

In [23]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list1.extend(list2)
list1

['a', 'b', 'c', 1, 2, 3]

In [24]:
list1.extend('d')
list1

['a', 'b', 'c', 1, 2, 3, 'd']

In [25]:
list1.append('e')
list1

['a', 'b', 'c', 1, 2, 3, 'd', 'e']

In [26]:
list1.append(list2)
list1

['a', 'b', 'c', 1, 2, 3, 'd', 'e', [1, 2, 3]]

In [27]:
list1 = ['a', 'b', 'c', 'd', 'b']
list1.remove('b')
list1

['a', 'c', 'd', 'b']

In [28]:
list1 = ['a', 'b', 'c', 'd', 'b']
for _ in range(list1.count('b')):
    list1.remove('b')
list1

['a', 'c', 'd']

In [36]:
a = [1, 2, 3]
b = [10, 20, 30]
a.append(b)
a

[1, 2, 3, [10, 20, 30]]

In [37]:
a = [1, 2, 3]
b = [10, 20, 30]
a.extend(b)
a

[1, 2, 3, 10, 20, 30]

In [38]:
nlist = list(range(1, 11))
nlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
nlist.insert(0, 0)
nlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
nlist.reverse()
nlist

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [41]:
nlist.pop()
nlist

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [46]:
list1 = [1, 2, 3, 4]
list2 = [10, 20, 30, 40]
list1 + list2

[1, 2, 3, 4, 10, 20, 30, 40]

In [47]:
list1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [48]:
list1 = [1, 2, 3, 4]
list2 = [1, 2, 3, 4]
list1 == list2

True

In [49]:
list3 = [4, 1, 2, 3]
list1 == list3

False

In [50]:
list1 = [1, 2, 3, 4]
list2 = [2, 3, 3, 4]
list1 > list2

False

In [51]:
list1 < list2

True

In [52]:
list1 = [10, 20, 30, 40, 50]
i = 0
for n in list1:
    list1[i] = n * 10
    i += 1

print(list1)

[100, 200, 300, 400, 500]

In [53]:
list1 = [10, 20, 30, 40, 50]
list1 = [n*10 for n in list1]
print(list1)

[100, 200, 300, 400, 500]

In [54]:
list1 = [10, 20, 30, 40, 50]
list1 = list(map(lambda x : x*10, list1))
print(list1)

[100, 200, 300, 400, 500]

In [78]:
a_list = [10, 20, 30, 40, 50, 60]
a_list[:-2] + a_list[-2:]

[10, 20, 30, 40, 50, 60]

In [87]:
def fun(li):
    global no
    if no == 0:
        print(f'n_list = {li}')
        no += 1
    else:
        print(f's_list{no} = {li}')
        no += 1
n_list = list(range(15))
no = 0
fun(n_list)
fun(n_list[:5])
fun(n_list[5:11])
fun(n_list[11:])
fun(n_list[2:11:2])
fun(n_list[10:5:-1])
fun(n_list[10:1:-2])

n_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
s_list1 = [0, 1, 2, 3, 4]
s_list2 = [5, 6, 7, 8, 9, 10]
s_list3 = [11, 12, 13, 14]
s_list4 = [2, 4, 6, 8, 10]
s_list5 = [10, 9, 8, 7, 6]
s_list6 = [10, 8, 6, 4, 2]