## 디폴트 매개변수

In [1]:
def div(a=1, b=2):
    return a/b

div()

0.5

In [4]:
def div(a, b=2):
    return a/b

div(10)

5.0

## 재귀함수

In [6]:
# factorial(n) : n! = n * (n-1)!

def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n-1)

n=5
print(f'{n}! = {factorial(n)}')

5! = 120

In [8]:
# fibonacci(n) : Fn = Fn-1 + Fn-2

def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

for i in range(10):
    print(fibonacci(i), end=" ")

0 1 1 2 3 5 8 13 21 34

## input()

In [9]:
num1, num2, num3 = map(int, input("num1, num2, num3 :").split())
print(num1, num2, num3)

1 2 3

## format method

In [12]:
'I like {} and {}'.format('python', 'java')

'I like python and java'

In [13]:
'I like {0} and {0}'.format('python', 'java')

'I like python and python'

In [16]:
'I like {1} and {0}'.format('python', 'java')

'I like java and python'

## LAB 4-11

In [18]:
name = input("당신의 이름을 입력해주세요 :")
age = input("나이를 입력해주세요 :")
job = input("직업을 입력해주세요 :")
area = input("사는 곳을 입력해주세요 :")

print("당신의 이름은 {}, 나이는 {}, 직업은 {}, 사는 곳은 {}입니다.".format(name, age, job, area))

당신의 이름은 박지환, 나이는 25, 직업은 학생, 사는 곳은 인천입니다.

In [20]:
print('위도 : {lat}, 경도 : {long}'.format(lat='35.17N', long='129.07E'))

위도 : 35.17N, 경도 : 129.07E

In [23]:
for i in range(2, 15, 2):
    print('{:3} {:4} {:5}'.format(i, i*i, i*i*i))

  2    4     8
  4   16    64
  6   36   216
  8   64   512
 10  100  1000
 12  144  1728
 14  196  2744

In [25]:
print(f"원주율 = {3.141592:10.2f}")
print(f"원주율 = {3.141592:10.3f}")
print(f"원주율 = {3.141592:10.4f}")
print(f"원주율 = {3.141592:10.5f}")

원주율 =       3.14
원주율 =      3.142
원주율 =     3.1416
원주율 =    3.14159

In [26]:
'abc'.upper()

'ABC'

In [27]:
'hobby'.count('b')

2

In [28]:
'hobby'.find('b')

2

In [29]:
','.join("abcd")

'a,b,c,d'

In [30]:
s1 = 'Long live the King'
s1.replace('King', 'Queen')

'Long live the Queen'

In [32]:
s1.title()

'Long Live The King'

In [33]:
s1.capitalize()

'Long live the king'

In [35]:
s2 = "X:Y:Z"
s2.split(":")

['X', 'Y', 'Z']

In [37]:
'Hello ' + 'Python!'

'Hello Python!'