In [1]:
abs(-100)

100

In [3]:
min(100, 200, 300, 400)

100

In [4]:
max(100, 200, 300, 400)

400

In [5]:
str1 = 'FOO'
len(str1)

3

In [6]:
sorted("EABDFG")

['A', 'B', 'D', 'E', 'F', 'G']

In [7]:
list1 = [200, 100, 300, 500]
sorted(list1)

[100, 200, 300, 500]

In [8]:
sorted(list1, reverse=True)

[500, 300, 200, 100]

In [11]:
a_str = "Hello Python"
id(a_str)

113644632

In [12]:
n = 300
id(n)

99808656

In [13]:
type(123)

int

In [14]:
type('hello')

str

In [15]:
type(120.3)

float

In [16]:
type([100, 20, 3000])

list

In [17]:
eval('10 + 20')

30

In [18]:
chr(65)

'A'

In [19]:
ord('A')

65

In [21]:
def my_greet():
    print('환영합니다.')

my_greet()
my_greet()

환영합니다.
환영합니다.

In [22]:
def square(n):
    return n ** 2

print('3의 제곱은 :', square(3))
print('4의 제곱은 :', square(4))

3의 제곱은 : 9
4의 제곱은 : 16

In [23]:
def max2(m, n):
    if m > n:
        return m
    else:
        return n
def min2(m, n):
    if m > n:
        return n
    else:
        return m
print('100과 200 중 큰 수는 :', max2(100, 200))
print('100과 200 중 작은 수는 :', min2(100, 200))

100과 200 중 큰 수는 : 200
100과 200 중 작은 수는 : 100

In [26]:
def inch2cm(inch):
    return inch * 2.54

for i in range(1, 6):
    print(f"{i}인치 = {inch2cm(i):5.2f} 센티미터")

1인치 =  2.54 센티미터
2인치 =  5.08 센티미터
3인치 =  7.62 센티미터
4인치 = 10.16 센티미터
5인치 = 12.70 센티미터

In [28]:
def mid3(a, b, c):
    list1 = sorted([a, b, c])
    return list1[1]

def mean3(a, b, c):
    return (a + b + c) / 3

def max3(a, b, c):
    return max(a, b, c)

def min3(a, b, c):
    return min(a, b, c)

a, b, c = map(int, input("세 수를 입력하시오 :").split())
print(f"{a}, {b}, {c} 의 평균값은", mean3(a, b, c))
print(f"{a}, {b}, {c} 의 최댓값은", max3(a, b, c))
print(f"{a}, {b}, {c} 의 최솟값은", min3(a, b, c))

10, 20, 30 의 평균값은 20.0
10, 20, 30 의 최댓값은 30
10, 20, 30 의 최솟값은 10

In [32]:
def sum_range(n1, n2):
    result = 0
    for i in range(n1, n2+1):
        result += i
    return result

print(f"{10:3d}에서 {20:3d}까지의 정수의 합 : {sum_range(10, 20):4d}")
print(f"{40:3d}에서 {100:3d}까지의 정수의 합 : {sum_range(40, 100):4d}")

 10에서  20까지의 정수의 합 :  165
 40에서 100까지의 정수의 합 : 4270

In [70]:
def fibonacci(n):
    if n < 2:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

num = int(input("몇 번째 피보나치수를 원하세요?"))
print(fibonacci(num-1))

5

In [44]:
def birthday(date_str):
    date_str
    yy = date_str[:2]
    mm = date_str[2:4]
    dd = date_str[4:]
    if int(yy) > 50:
        y = '19' + yy
    else:
        y = '20' + yy
    return f"{y}년 {mm}월 {dd}일"

date = input("주민등록번호 첫 6숫자 형식 입력 :")
print(birthday(date))

2001년 11월 23일

In [51]:
import datetime

def get_birthday():
    date = datetime.datetime.now()
    y = date.year
    m = date.month
    if m < 10:
        m = '0' + str(m)
    d = date.day
    if d < 10:
        d = '0' + str(d)

    return str(y)[-2:] + str(m) + str(d)
print(get_birthday())

220506

In [54]:
import math

def area_and_circumference(r):
    area = math.pi * r * r
    circum = 2 * math.pi * r
    return area, circum

radius = int(input("반지름을 입력하세요 :"))
area, circum = area_and_circumference(radius)
print(f"넓이 : {area:.4f}, 둘레 : {circum:.4f}")

넓이 : 113.0973, 둘레 : 37.6991

In [64]:
string = "Park(Java city), Kim(C city), Kang(Bython city), \
Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), \
Ryu(C++ city)"

count = 0
for i in string.split():
    if "Bython" in i:
        count += 1

new_string = string.replace("Bython", "Python")
print(new_string)
print(f"Bython 문자열을 모두 {count}번 수정했습니다.")

Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
Bython 문자열을 모두 3번 수정했습니다.